<h1><%= @animal.name %></h1>
<p><b>Race </b><%= @animal.race %></p>
<p><b>Name </b><%= @animal.name %></p>
<p><b>Age </b><%= @animal.age %></p>
<br>
<h3>My favorite expression</h3>
<h3>"<%= @animal.talk %>"</h3>
